.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* Set the width of the container */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    display: block;
    width: 255px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #646cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #535bf2;
}

.google-connect {
    text-align: center;
}

.google-connect p {
    margin-bottom: 10px;
}